<center><u><H1>Pandas: Merge, Join, Concatenate and Group by</H1></u></center>

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},index=[0, 1, 2, 3])

In [3]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [4]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [5]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},index=[8, 9, 10, 11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<b>Concatenating:</b>

In [6]:
c = pd.concat([df1,df2,df3])
c

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<b>Inserting a key argument></b>

In [7]:
dflist = [df1,df2,df3]
ckey = pd.concat(dflist, keys=['a', 'b', 'c'])
ckey

        A    B    C    D
a 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
b 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
c 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

<b>Selecting by key:</b>

In [8]:
ckey.loc['b']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

<b>Set Logic on other axes:</b>

In [9]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},index=[2, 3, 6, 7])

In [10]:
newdf = pd.concat([df1, df4], axis=1)#axis=1 joins columns
newdf

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

<B>APPENDING ROWS TO A DATAFRAME:</B>

In [11]:
s = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])
newdf = df1.append(s, ignore_index=True)
newdf

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

<b>MERGE:</b><br>
<p>pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False)<p>

In [12]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
result = pd.merge(left, right, on='key')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

<H3>JOINS:</H3>

In [13]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
result = left.join(right)
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

<b>The Inner Join:</b>

In [14]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2'],
                    'C':['K0', 'K1', 'K2']})
right = pd.DataFrame({'D': ['C0', 'C2', 'C3'],'E': ['D0', 'D2', 'D3'],
                     'F': ['K0', 'K1', 'K3']})
result = left.join(right.set_index(['F']),on=['C'],how='inner')
result

    A   B   C   D   E
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C2  D2

<b>The Left Outer Join:</b>

In [15]:
result = left.join(right.set_index(['F']),on=['C'],how='left')
result

    A   B   C    D    E
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C2   D2
2  A2  B2  K2  NaN  NaN

<b>The Full Outer Join:</b>

In [16]:
result = left.join(right.set_index(['F']),on=['C'],how='outer')
result

       A    B   C    D    E
0.0   A0   B0  K0   C0   D0
1.0   A1   B1  K1   C2   D2
2.0   A2   B2  K2  NaN  NaN
NaN  NaN  NaN  K3   C3   D3

#### Merge  method -->        SQL Join Name ------>       Description
####  left	-------->      LEFT OUTER JOIN -------->    Use keys from left frame only
#### right  -------->      RIGHT OUTER JOIN ------>     Use keys from right frame only
#### outer --------->      FULL OUTER JOIN ------->     Use union of keys from both frames
#### inner --------->      INNER JOIN --------------->  Use intersection of keys from both frames

## GROUP BY:

In [17]:
df = pd.DataFrame({'FactorA': [6, 8, 3, 1],
                    'FactorB': [4, 23, 14, 44],
                    'FactorC': [10, 34, 23, 67],
                    'Class': ['1', '2', '2', '1']},index=[0, 1, 2, 3])
df

   FactorA  FactorB  FactorC Class
0        6        4       10     1
1        8       23       34     2
2        3       14       23     2
3        1       44       67     1

In [18]:
df.groupby('Class').sum()

       FactorA  FactorB  FactorC
Class
1            7       48       77
2           11       37       57

In [19]:
df.groupby(['Class']).mean()

       FactorA  FactorB  FactorC
Class
1          3.5     24.0     38.5
2          5.5     18.5     28.5

In [20]:
list(df.groupby(['Class']))

[('1',    FactorA  FactorB  FactorC Class
  0        6        4       10     1
  3        1       44       67     1), ('2',    FactorA  FactorB  FactorC Class
  1        8       23       34     2
  2        3       14       23     2)]

In [21]:
df_ = df.groupby(['Class'])
groups = df_.groups
groups

{'1': Int64Index([0, 3], dtype='int64'),
 '2': Int64Index([1, 2], dtype='int64')}

In [22]:
print(df.groupby(['Class']).describe())

      FactorA                                           FactorB        ...  \
        count mean       std  min   25%  50%   75%  max   count  mean  ...
Class                                                                  ...
1         2.0  3.5  3.535534  1.0  2.25  3.5  4.75  6.0     2.0  24.0  ...
2         2.0  5.5  3.535534  3.0  4.25  5.5  6.75  8.0     2.0  18.5  ...

                   FactorC
         75%   max   count  mean        std   min    25%   50%    75%   max
Class
1      34.00  44.0     2.0  38.5  40.305087  10.0  24.25  38.5  52.75  67.0
2      20.75  23.0     2.0  28.5   7.778175  23.0  25.75  28.5  31.25  34.0

[2 rows x 24 columns]

## Reference:

http://pandas.pydata.org/pandas-docs/stable/merging.html